.projectsSection {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: #c99c80a9;
  .title {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
  }
  .projects {
    padding: 15px 20px;
    max-width: 1500px;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: auto;
    gap: 15px;
    position: relative;
    @media (max-width: 1080px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    align-items: flex-start;
  }
}
