.mail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.button {
    display: flex;
    justify-content: center;
    button {
        width: 50%;
    }
}
.cel{
    button{
        width: calc(100% - 56px);
        margin-left: 28px;
    }
}



.content,
.content::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
 cursor: pointer;
 width: 168.06px;
 margin-bottom: 10px;
}

.content::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.upXs:hover::after {
 animation: 1s glitchuXs;
 animation-timing-function: steps(2, end);
}
.downXs:hover::after {
 animation: 1s glitchdXs;
 animation-timing-function: steps(2, end);
}
.upMd:hover::after {
 animation: 1s glitchuMd;
 animation-timing-function: steps(2, end);
}

@keyframes glitchdXs {
    0% {
     clip-path: var(--slice-1);
     transform: translate(10%, -10px);
    }
   
    10% {
     clip-path: var(--slice-3);
     transform: translate(-30%, 10px);
    }
   
    20% {
     clip-path: var(--slice-1);
     transform: translate(-20%, 10px);
    }
   
    30% {
     clip-path: var(--slice-3);
     transform: translate(0px, 10%);
    }
   
    40% {
     clip-path: var(--slice-2);
     transform: translate(11%, 0px);
    }
   
    50% {
     clip-path: var(--slice-3);
     transform: translate(12%, 0px);
    }
   
    60% {
     clip-path: var(--slice-4);
     transform: translate(-10%, 15%);
    }
   
    70% {
     clip-path: var(--slice-2);
     transform: translate(-10%, 10%);
    }
   
    80% {
     clip-path: var(--slice-5);
     transform: translate(10%, -10%);
    }
   
    90% {
     clip-path: var(--slice-1);
     transform: translate(100%, 0px);
    }
   
    100% {
     clip-path: var(--slice-1);
     transform: translate(0);
    }
}
@keyframes glitchuXs {
    0% {
        clip-path: var(--slice-1);
        transform: translate(95%, -10px);
       }
      
       10% {
        clip-path: var(--slice-3);
        transform: translate(-30%, 10px);
       }
      
       20% {
        clip-path: var(--slice-1);
        transform: translate(-20%, 10px);
       }
      
       30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 10%);
       }
      
       40% {
        clip-path: var(--slice-2);
        transform: translate(100%, 0px);
       }
      
       50% {
        clip-path: var(--slice-3);
        transform: translate(100%, 0px);
       }
      
       60% {
        clip-path: var(--slice-4);
        transform: translate(-10%, 15%);
       }
      
       70% {
        clip-path: var(--slice-2);
        transform: translate(-10%, 10%);
       }
      
       80% {
        clip-path: var(--slice-5);
        transform: translate(90%, -10%);
       }
      
       90% {
        clip-path: var(--slice-1);
        transform: translate(100%, 0px);
       }
      
       100% {
        clip-path: var(--slice-1);
        transform: translate(0);
       }
}
@keyframes glitchuMd {
    0% {
        clip-path: var(--slice-1);
        transform: translate(160%, -10px);
       }
      
       10% {
        clip-path: var(--slice-3);
        transform: translate(-160%, 10px);
       }
      
       20% {
        clip-path: var(--slice-1);
        transform: translate(-100%, 10px);
       }
      
       30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 100%);
       }
      
       40% {
        clip-path: var(--slice-2);
        transform: translate(70%, 0px);
       }
      
       50% {
        clip-path: var(--slice-3);
        transform: translate(40%, 0px);
       }
      
       60% {
        clip-path: var(--slice-4);
        transform: translate(-100%, 150%);
       }
      
       70% {
        clip-path: var(--slice-2);
        transform: translate(-130%, 110%);
       }
      
       80% {
        clip-path: var(--slice-5);
        transform: translate(90%, -10%);
       }
      
       90% {
        clip-path: var(--slice-1);
        transform: translate(100%, 0px);
       }
      
       100% {
        clip-path: var(--slice-1);
        transform: translate(0);
       }
}