.container {
    position: fixed;
    left: 10px;
    top: 0;
    bottom: 0; 
    margin: auto;
}
.optionsFather {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.options {
    background-color: #424242;
    border-radius: 25px;
    padding: 100px 20px 100px 20px;
}
