.tecnologiesContainer {
  background-color: #33333386;
  margin-bottom: 20px;
  padding: 20px 0;
  .tecnologies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .title {
    color: #f4e04e;
    font-weight: 500;
    font-size: clamp(2rem, 2.5vw, 4rem);
    margin-bottom: 20px;
  }
}
