.tecnologiesContainer {
  background-color: #33333386;
  margin-bottom: 20px;
  padding: 20px 0;
  .tecnologies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-items: center;
  }
  .title {
    color: white;
    font-weight: 500;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    margin-bottom: 20px;
    text-align: center;
  }
}
