.point {
  background-color: #555555;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.divider {
  background-color: #555555;
  width: 2px;
  height: 6.2rem;
  margin: 0.2rem 0;
}
.container {
  background-image: linear-gradient(90deg, #f4e04e 50%, #c6588a 50.1%);
  h3 {
    color: black;
    padding-top: 30px;
    padding-left: 10px;
  }
  .timeLine {
    padding: 30px 10px;
    background-image: linear-gradient(90deg, black 50%, white 50.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;

    .item {
      display: flex;
      gap: 10px;

      .separator {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6px;
      }
    }
  }
}
